# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Sky Ball.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Ata\UnityProjects\Sky Ball\.idea\.idea.Sky Ball\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
